In [1]:
import data
df = data.read_csv()

In [2]:
data.read_csv??

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000000 entries, 0 to 5999999
Data columns (total 10 columns):
0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    int64
9    float64
dtypes: float64(9), int64(1)
memory usage: 457.8 MB

In [4]:
df.describe()

,0,1,2,3,4,5,6,7,8,9
count,6.000000e+06,6.000000e+06,6.000000e+06,6.000000e+06,6.000000e+06,6.000000e+06,6.000000e+06,6.000000e+06,6.000000e+06,6.000000e+06
mean,-5.032350e-01,-2.270251e-02,3.962317e+00,-2.919067e-02,9.501110e+00,9.506820e+00,1.995628e+02,1.340000e+02,3.000000e+06,7.597931e+01
std,1.158978e+01,7.094920e-01,2.181175e+01,7.186675e-01,2.294132e+00,1.026462e+01,2.888937e+02,9.998042e-02,1.732051e+06,9.798266e+01
min,-2.474842e+01,-1.477232e+00,-1.033790e+02,-1.442709e+00,5.548382e+00,-4.782498e+01,-3.412559e+02,1.334789e+02,0.000000e+00,-1.083349e+02
25%,-1.051016e+01,-7.017336e-01,-1.083108e+01,-7.339117e-01,7.335463e+00,2.582116e+00,-5.041402e+01,1.339326e+02,1.500000e+06,3.753411e+00
50%,-5.092675e-01,-4.983446e-02,3.778015e+00,-6.011999e-02,9.693053e+00,9.511857e+00,1.993442e+02,1.339999e+02,3.000000e+06,6.589096e+01
75%,9.505567e+00,6.491218e-01,1.854612e+01,6.803319e-01,1.171289e+01,1.643197e+01,4.497335e+02,1.340674e+02,4.499999e+06,1.317731e+02
max,2.351151e+01,1.443364e+00,1.241422e+02,1.422491e+00,1.348460e+01,6.053531e+01,7.388803e+02,1.345215e+02,5.999999e+06,4.529487e+02

In [5]:
df.corr()

,0,1,2,3,4,5,6,7,8,9
0,1.000000,-0.040935,0.229442,0.027882,0.000571,0.000186,0.000864,-0.000836,0.000242,0.539188
1,-0.040935,1.000000,-0.035370,0.003750,0.000259,0.000850,0.000688,0.000244,-0.000584,-0.081485
2,0.229442,-0.035370,1.000000,-0.019023,0.000337,0.000281,-0.000488,-0.000313,0.000050,0.362089
3,0.027882,0.003750,-0.019023,1.000000,-0.000033,0.000342,0.000561,0.000031,-0.000093,-0.041760
4,0.000571,0.000259,0.000337,-0.000033,1.000000,0.222997,-0.000134,0.000006,0.000356,-0.000745
5,0.000186,0.000850,0.000281,0.000342,0.222997,1.000000,0.000779,-0.000086,-0.000304,0.000022
6,0.000864,0.000688,-0.000488,0.000561,-0.000134,0.000779,1.000000,0.000092,0.000547,0.352949
7,-0.000836,0.000244,-0.000313,0.000031,0.000006,-0.000086,0.000092,1.000000,0.000566,-0.000337
8,0.000242,-0.000584,0.000050,-0.000093,0.000356,-0.000304,0.000547,0.000566,1.000000,0.000336
9,0.539188,-0.081485,0.362089,-0.041760,-0.000745,0.000022,0.352949,-0.000337,0.000336,1.000000

In [6]:
df.cov()

,0,1,2,3,4,5,6,7,8,9
0,134.322913,-0.336602,58.001505,0.232232,0.015190,0.022099,2.891985,-0.000968,4.858080e+03,612.300038
1,-0.336602,0.503379,-0.547368,0.001912,0.000422,0.006187,0.140950,0.000017,-7.175940e+02,-5.664672
2,58.001505,-0.547368,475.752361,-0.298195,0.016838,0.062813,-3.072711,-0.000682,1.870899e+03,773.846201
3,0.232232,0.001912,-0.298195,0.516483,-0.000054,0.002525,0.116394,0.000002,-1.155434e+02,-2.940620
4,0.015190,0.000422,0.016838,-0.000054,5.263041,5.251214,-0.089023,0.000001,1.413334e+03,-0.167387
5,0.022099,0.006187,0.062813,0.002525,5.251214,105.362507,2.308689,-0.000088,-5.402792e+03,0.022417
6,2.891985,0.140950,-3.072711,0.116394,-0.089023,2.308689,83459.543512,0.002659,2.736180e+05,9990.776734
7,-0.000968,0.000017,-0.000682,0.000002,0.000001,-0.000088,0.002659,0.009996,9.810098e+01,-0.003297
8,4858.080409,-717.593950,1870.898690,-115.543356,1413.334393,-5402.791663,273618.030411,98.100978,3.000001e+12,57067.393384
9,612.300038,-5.664672,773.846201,-2.940620,-0.167387,0.022417,9990.776734,-0.003297,5.706739e+04,9600.601913